<div class="header-wrapper flex-row-b">
  <div class="navigation">
    <app-navigation></app-navigation>
  </div>
  <div class="movies-search">
    <app-movies-search></app-movies-search>
  </div>
</div>
