.movie-description-wrapper {
  width: 1024px;
  height: 100%;

  h2 {
    margin-left: 50px;
  }

  .movie-description-content {
    width: 50%;
    margin: 30px auto;

    .movie-item {
      margin-right: 50px;
    }

    .movie-description {
      .description-title {
        margin-top: 18px;
        label {
          margin-right: 5px;
          font-weight: bold;
        }
      }
    }
  }
}
