<div class="movie-description-wrapper">

  <h2>Description</h2>

  <div class="movie-description-content flex-row">
    <div class="movie-item">
      <app-movie-item [movie]="selectedMovie"></app-movie-item>
    </div>

    <div class="movie-description">
      <div class="description-title flex-row" *ngFor="let desc of movieDescriptionTitles">
        <label>{{ desc.label }}</label>
        <p>{{ desc.value }}</p>
      </div>
    </div>
  </div>

  <hr>

</div>


