.movie-item {
  width: 150px;
  height: 184px;
  margin-top: 20px;
  border: 1px solid black;
  cursor: pointer;
  .movie-title {
    text-align: center;
    margin-top: 50%;
  }
  // background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSy9rd6FOa0I-Th8vADY-05Ftsfm9GNpXL0WozhjKikC1Asc9fJ')
}
