<div class="buy-tickets-wrapper">
  <div class="movie-description-wrapper flex-row-b">
    <app-movie-description></app-movie-description>
  </div>

  <div class="places-schema-wrapper">
    <app-places-schema></app-places-schema>
  </div>
</div>
