@import '../../assets/styles';


.movies-list {
  width: 100%;
  height: 650px;
  background-color: #fff;
  padding-top: 30px;
  .movies-list-content {
    width: 830px;
    margin: 0 auto;
    .movie-item {
      flex-wrap: wrap;
    }
    .add-movie--button {
      text-align: center;
      button {
        padding: 10px;
        font-size: 1em;
        border-radius: 10px;
        background-color: $header_color;
        color: white;
        outline: none;
      }
    }
  }
}
