<div class="movies-list">
  <div class="movies-list-content">
    <h1>Movies</h1>
    <div class="movie-item flex-row-b mt15">
      <app-movie-item
        *ngFor="let movie of movies"
        [movie]="movie"
      ></app-movie-item>
    </div>
    <div class="add-movie--button mt15">
      <button>Add Movie</button>
    </div>
  </div>
</div>
