@import '../../../assets/styles';

.places-schema-content {
  h2 {
    margin-left: 50px;
  }
  .places-schema {
    width: 417px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
  }

  .place, .row {
    margin: 10px;
  }

  .row {
    margin-top: 20px;
  }

  .place {
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    &.free {
      background-color: greenyellow;
    }
    &.busy {
      cursor: not-allowed;
      background-color: red;
    }
  }

  .buy-ticket {
    text-align: center;
    margin-top: 20px;
    .buy-ticket--button {
      padding: 10px;
      font-size: 1em;
      border-radius: 10px;
      background-color: $header_color;
      color: white;
      outline: none;
      margin: auto;
    }
  }

}


