<div class="places-schema-content">
  <h2>Buy Tickets</h2>

  <div class="places-schema">
    <div class="flex-row" *ngFor="let row of placesSchema">
      <div [ngClass]="place.type === 'row' ? 'row' : 'place'"
           [class]="place.status === 'free' ? 'free' : 'busy'"
           (click)="onBuyTicket(place)"
           *ngFor="let place of row">
      <span>
        {{ place.type === 'place' ? place.number : 'Row ' + place.number }}
      </span>
      </div>
    </div>
  </div>

  <div class="buy-ticket">
    <button class="buy-ticket--button">Buy</button>
  </div>
</div>



